body {
  background-color: #1f2227;
  color: white;
}

table {
  display: flex;
  justify-content: space-around;
}

div#buttons {
  text-align: center;
}

td {
  width: 20px;
  height: 20px;
  background-color: #30353d;
  background-size: contain;
  text-align: center;
}

div#status {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  background-color: #30353d;
}