:root {
	--electric: #ffea2c;
	--colorless: #dcdedb;
}

body {
	background-color: #1f2227;
}

#poke-card {
  border-radius: 25px;
  border: 4px solid yellow;
  padding: 20px;
	min-height: 350px;
	max-width: 200px;
}

#poke-card.electric {
	background-color: var(--electric);
}
#poke-card.colorless {
	background-color: var(--colorless);
}

#top {
	height: 10px;
}

#top #stage {
	border: 1px solid white;
	margin-right: 20px;
	background-color: silver;
}

#portrait {
	background-image: url("https://www.imore.com/sites/imore.com/files/styles/large/public/field/image/2021/07/pokemon-unite-pikachu-and-others.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
	height: 100px;
	width: 200px;
}

#hp-wrapper {
	margin-left: 20px;
}

.smalltext {
	font-size: 10px;
}

#type-icon {
	height: 10px;
	width: 10px;
}

#moves {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.move {
	margin-bottom: 20px;
}

.move .move_cost {
	margin-right: 30px;
}

.move .move_cost img {
	height: 10px;
	width: 10px;
	margin-right: 1px;
}

.move .move_damage {
	margin-left: 160px;
	position: absolute;
}

.move .move_name {
	font-size: 15px;
}

.move .move_text {
	font-size: 10px;
}

.move .move_top {
	display: inline-flex;
}

.divider {
	width: 100%;
}
